header p {
    font-family: fantasy;
    color: blue;
    font-size: 20px;
    text-align: center;
}

main {
    padding: 10%;
}

div {
    margin: 2% 0;
}

input[type="text"] {
    width: 50%;
    margin-left: 2%;
}
